[submodule "2017-06-29-causal-inference"]
	path = 2017-06-29-causal-inference
	url = git@github.com:jeralbri/short-causal-inference-intro.git
[submodule "2017-07-06-purrr"]
	path = 2017-07-06-purrr
	url = git@github.com:scheidec/purrr_tutorial.git
[submodule "2017-07-13-tidyeval"]
	path = 2017-07-13-tidyeval
	url = git@github.com:MBattagl/tidyeval.git
[submodule "using_packrat"]
	path = 2017-08-10-packrat
	url = https://github.com/scheidec/using_packrat
[submodule "cluster-analysis-r-pedagogy"]
	path = 2017-10-19-cluster-analysis
	url = https://github.com/scheidec/cluster-analysis-r-pedagogy
[submodule "interp-binary-pt1"]
	path = 2017-09-22-logistic-part-1
	url = https://github.com/jeralbri/interp-binary-pt1
[submodule "2017-11-09-docker-with-r"]
	path = 2017-11-09-docker-with-r
	url = git@github.com:ClaytonJY/r-docker-slides.git
[submodule "2018-01-25-ci-cd"]
	path = 2018-01-25-ci-cd
	url = https://github.com/scheidec/ci-cd
[submodule "2018-01-10-blogdown"]
	path = 2018-01-10-blogdown
	url = https://github.com/jeralbri/blogdown-presentation
[submodule "2018-02-01-caret"]
	path = 2018-02-01-caret
	url = git@gitlab.com:MBattagl/caret.git